@import "./utils/visually-hiden";
@import "./utils/variables";

@import "./base/comon";
@import "./base/container";
@import "./base/section";
@import "./base/text-format";

@import "./components/backdrop";
@import "./components/logo";
@import "./components/social-media";
@import "./components/navmenu";
@import "./components/buttons";
@import "./components/subemail";

@import "./layout/about-us";
@import "./layout/adventages";
@import "./layout/client";
@import "./layout/footer";
@import "./layout/header";
@import "./layout/front";
@import "./layout/modal";
@import "./layout/team";

@import "./pages/portfolio";