.adventages .container {
    display: flex;
}

.adventages-discription {
    font-size: 14px;
    line-height: 1.714;
    color: var(--secondary-color);
    padding-top: 10px;
}

.advantages-list {
    display: flex;
    justify-content: space-between;
}

.advantages-list-item {
    align-items: center;
    max-width: 270px;
}

.advantages-background {
    background-color: var(--background-team);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 270px;
    height: 120px;
    border-radius: 4px;
    margin-bottom: 30px;
}

.advantages-icons {
    width: 70px;
    height: 70px;
}