.header {
    border: 1px solid #ECECEC;
}

.header-email,
.header-phone {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.43;
    letter-spacing: 0.02em;
}

.header-email,
.header-phone {
    color: var(--secondary-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        color: var(--highlight-color);
    }
}

.header-adres-list {
    display: flex;
    margin-left: auto;
}

.header-email {
    margin-right: 50px;
}

.header-icon {
    margin-right: 10px;
    fill: currentColor;
}