.button{
    font-size: 16px;
    font-weight: 700;
    line-height: 1.875;
    letter-spacing: 0.06em;
    text-align: center;
    align-items: center;
    background-color: var(--highlight-color);
    color: var(--basic-white);
    fill: var(--basic-white);
    border: none;
    cursor: pointer;
    border-radius: 4px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    transition-property: color,
    box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}


.button--modal {
    padding: 10px 76px;
}

.button--close {
    position: absolute;
    display: flex;
    justify-content: center;
    right: 8px;
    top: 8px;
    background-color: transparent;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    border: 1px solid var(--basic-black);
    color: var(--basic-black);
}

.button--filtr {
    font-weight: 500;
    line-height: 1.625;
    letter-spacing: 0.02em;
    padding: 6px 22px;
    background-color: var(--background-team);
    color: var(--basic-black);
    box-shadow: none;

    &:hover,
    &:focus {
        background-color: var(--highlight-color);
        color: var(--basic-white);
        box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    }
}

.button--order {
    padding: 10px 41px;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        background-color: var(--highlight-color);
        color: var(--basic-white);
        box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    }
}

.button--submit {
    display: inline-flex;
    padding: 10px 28px 10px 42px;
    margin-left: 8px;
}

.button--send-ico {
    margin-left: 24px;
}