.logo {
    display: flex;
    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 24px;
    line-height: 1.167;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        color: var(--highlight-color);
    }
}

.footer__logo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo--color {
    color: var(--highlight-color);
}

.logo--dark {
    color: var(--basic-black);
    margin-right: 93px;
    padding-top: 24px;
    padding-bottom: 25px;
}

.logo--light {
    color: var(--basic-white);
}


@media screen and (max-width: 767px) {
    
}
    

@media screen and (min-width: 768px) and (max-width:1199px) {
    .footer__logo{
        padding-right: 144px;
        margin-bottom: 60px;
    }
    
}

@media screen and (min-width: 1200px) {
    .logo {
            font-size: 26px;
            line-height: 1.192;
        }

    .footer__logo {
        align-items: start;
    }

        .logo--dark {
            margin-right: 93px;
        }
}



// .logo {
//     font-family: var(--secondary-font);
//     font-weight: 700;
//     font-size: 26px;
//     line-height: 1.192;
//     transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

//     &:hover,
//     &:focus {
//         color: var(--highlight-color);
//     }
// }

// .logo--color {
//     color: var(--highlight-color);
// }

// .logo--dark {
//     color: var(--basic-black);
//     margin-right: 93px;   
// }

// .logo--light {
//     color: var(--basic-white);
// }