.social-media {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 24px;
}

.social-media--item{
    &:not(:last-child) {
            margin-right: 10px;
        }
}

.social-media__link {
    display: flex;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    fill: var(--icon-gray);
    transition-property: fill, background-color, border-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    
    &:hover,
    &:focus {
        fill: var(--basic-white);
        background-color: var(--highlight-color);
    }

    &:not(:last-child) {
        margin-right: 10px;
    }
}

.social-media__icon {
    width: 20px;
    height: 20px;
}

.social-media--footer {
    display: flex;
    align-items: center;
}

.social-media__link--dark {
    background-color: rgba(255, 255, 255, 0.1);
    fill: var(--basic-white);
}

@media screen and (max-width: 767px) {
    .social-media--footer{
        margin-bottom: 60px;
    }
    
}

@media screen and (min-width: 1200px) {
    .social-media {
            justify-content: space-between;
            padding: 0px 32px 30px 32px;
        }
}