body {
    font-family: var(--main-font);
    color: var(--main-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
    letter-spacing: 0.03em;
}

ul {
    margin: 0;
    padding: 0;
    letter-spacing: 0.03em;
}

p {
    margin: 0;
    padding: 0;
    letter-spacing: 0.03em;
}

img {
    display: block;
}
.link {
    text-decoration: none;
}
.ul-list {
    list-style: none;
}

.figure--image {
    width: 100%;
}