.container {
    width: 100%;
    padding: 0px 15px;
    align-items: center;
    justify-items: center;
    margin: 0 auto;
}

.flex{
    display: flex;
}

@media screen and (min-width: 480px) {
    .container {
        width: 480px;
    }
}

@media screen and (min-width: 768px) {
    .container{
        width: 768px;
    }
}

@media screen and (min-width: 1200px) {
    .container {
        width: 1200px;
    }
}