.h1-txt {
    padding-bottom: 30px;
    width: 696px;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.364;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--basic-white);
    text-transform: uppercase;
}
.h2-txt {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.167;
    text-align: center;
    padding-bottom: 50px;
}
.h5-txt {
    font-size: 14px;
    font-weight: 700;
    line-height: 1.143;
    text-transform: uppercase;
}
.h6-txt {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.143;
    text-transform: uppercase;
    color: var(--basic-white);
    padding-bottom: 20px;
}