:root {
    --main-font: 'Roboto', sans-serif;
    --secondary-font: 'Raleway', sans-serif;
    --highlight-color: #2196F3;
    --main-color: #212121;
    --secondary-color: #757575;
    --basic-white: #fff;
    --basic-black: #000;
    --footer-text-color: rgba(255, 255, 255, 0.6);
    --background: #2F303A;
    --background-team: #F5F4FA;
    --icon-gray: #AFB1B8;
    --aboutus-background: rgba(47, 48, 58, 0.8);
    --button-hover-focus-shadow: box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
            0px 1px 2px rgba(0, 0, 0, 0.08),
            0px 2px 2px rgba(0, 0, 0, 0.12);
}